:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --thirdColor: #ececec;
  --cornerRad: 4px;
  --input-background: #555555;
}

body {
  background-color: var(--primColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: aliceblue;
  height: 100%;
  overflow-y: auto;
  background: #43454b;
}

.App {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

details {
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 100;
}
summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 23px;
  height: 17px;
  background-color: transparent;
  border: 2px solid var(--thirdColor);
  border-radius: var(--cornerRad);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
  color: var(--thirdColor);
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.menu {
  height: 0;
  width: fit-content;
  border-radius: var(--cornerRad);
  background-color: var(--primColor);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: closeMenu 300ms ease-in-out forwards;
}
.menu a {
  padding: 12px 24px;
  margin: 0 16px;
  color: var(--secoColor);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
}
.menu a:nth-of-type(1) {
  padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
  border-bottom: none;
}
.menu a:hover {
  filter: brightness(200%);
}
details::before {
  /* content: "â† Click This Button"; */
  color: var(--secoColor);
  position: absolute;
  margin-left: 80px;
  padding: 10px 10px;
  opacity: 0.4;
}
details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* hero component */
.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #ccc;
  text-transform: uppercase;
  position: absolute;
  z-index: 0;
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 17.5px;
}

.hero-one {
  top: 0;
  position: absolute;
  width: 60%;
  background-color: black;
  height: 100vh;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/Assets/Images/hero-one.jpg);
  background-size: cover;
  filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: green;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(../src/Assets/Images/hero-two.jpg);
  filter: blur(4px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
}

.header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.btnOutline {
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid #00ffff;
  background: rgba(0, 0, 0, 0.644);
  color: #00ffff;
  border-radius: 4px;
}

.btnYellow {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: transparent;
  border: 2px solid #ffeba7;
  cursor: pointer;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(255, 235, 167, 0.15);
}

.btnLogin{
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: transparent;
  background: #565c74;
  cursor: pointer;
  color: white;
}

.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20%;
  height: auto;
  margin: auto;
}

.btn-container a {
  text-decoration: none;
}

.btnOutline:hover {
  transform: scale(1.05);
  transition: ease-in 500ms;
}

.btnOutline a {
  color: #00ffff;
  font-size: 20px;
  text-decoration: none;
}

/* Library */
.library-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.library-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  position: absolute;
}

.iconBtn {
  background: transparent;
  outline: none;
  border: none;
}

.iconBtn:hover {
  cursor: pointer;
}

/* Library */

/* Search Input */

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  /* margin: 0 auto; */
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: var(--input-background);
}

.webflow-style-input::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #645f72,
    #ececec,
    #d4d4bc,
    #ececec,
    #645f72,
    #ececec
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.searchField {
  border-style: none;
  background: transparent;
  outline: none;
  flex-grow: 1;
  color: #ececec;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.searchField::-webkit-input-placeholder {
  color: #acacac;
}
/* Search Input */

/* tabs */

.Ide {
  width: 50%;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
  width: 100%;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  margin-top: 25px;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.pane {
  height: 50vh;
  display: flex;
  flex-direction: row;
}

/* card component */

.container {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  height: 401px;
}
.card-header iframe {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 6px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.tags-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-green {
  background-color: #5ebf76;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body h4 {
  color: #494949;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
  color: #494949;
}

.library-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.library-content h3 {
  width: 100%;
  color: #e1e1e1;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: absolute;
  top: 15%;
  gap: 50px 50px;
  padding: 30px;
}

.card-container a {
  text-decoration: none;
}

.clickable-container {
  cursor: pointer;
}

/* dropdown */

.divider {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

.sec-center .for-dropdown {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
}

.dropdown:checked + label,
.dropdown:not(:checked) + label {
  position: relative;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255, 235, 167, 0.15);
}

.dropdown:checked + label:before {
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.15);
}
.dropdown:checked ~ .section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #111;
  content: "";
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

.section-dropdown a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  -ms-flex-pack: distribute;
  cursor: pointer;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}

.section-dropdown a:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  -ms-flex-pack: distribute;
  cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil {
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub {
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover {
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub {
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
/* input field */
.Input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 10px;
}

.Input-text {
  display: flex;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: var(--secoColor);
  width: auto;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: inherit;
  line-height: 0.8rem;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

.Input-text::placeholder {
  color: #b0bec5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #13110a79;
}

/* create component page */

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.selected-tags-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  height: auto;
  gap: 10px;
}

.crossIcon {
  transform: rotate(45deg);
  transition: ease-in-out 300ms;
}

.crossIcon:hover {
  cursor: pointer;
}


/* login page */

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.login-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  height: 300px;
  width: 450px;
  background: rgb(231, 231, 231);
  padding: 24px;
  border-radius: 8px;
  filter: drop-shadow(4px 18px 56px rgba(0, 0, 0, 0.49));
  z-index: 1000;
}

.error-msg{
  color: rgb(241, 110, 110);
  font-weight: 700;
}